In [2]:
import wget
import pprint
import zipfile
import pandas as pd
from io import BytesIO
from urllib.request import urlopen
# !pip install pyodbc
import pyodbc

Requirement already satisfied: pyodbc in d:\users\thibaut\documents\hetic cours\data science approfondissement\zip_files\env-projet-data-science\lib\site-packages (4.0.32)

WARNING: You are using pip version 20.2.3; however, version 22.0.4 is available.
You should consider upgrading via the 'd:\users\thibaut\documents\hetic cours\data science approfondissement\zip_files\env-projet-data-science\scripts\python.exe -m pip install --upgrade pip' command.

In [2]:
list_zip = []
for i in range(2019, 2022):
  for j in range(1, 13):
    list_zip.append(f"On_Time_Reporting_Carrier_On_Time_Performance_1987_present_{i}_{j}.zip")

In [3]:
pp = pprint.PrettyPrinter(indent=1)

In [4]:
start_url = "https://transtats.bts.gov/PREZIP/"

In [5]:
list_urls = []
for elem in list_zip:
    list_urls.append(start_url + elem)

In [6]:
for element in list_urls:
    resp = urlopen(element)
    files_zip = zipfile.ZipFile(BytesIO(resp.read()))
    # print(files_zip)
    # print(files_zip.namelist())
    file = files_zip.namelist()[0]
    with files_zip as zip_ref:
        zip_ref.extract(file)
    df = pd.read_csv(file) 
    df_main = pd.concat([df_main,df],axis=0)

print(df_main.head())

In [11]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=RON\SQLEXPRESS;'
                      'Database=test_database;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

OperationalError: ('08001', "[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server n'existe pas ou son accès est refusé. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)")

In [16]:
df = pd.read_csv("clean_2019_1.csv", sep=",")

In [17]:
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,0,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1500-1559,0.0,0.0,70.0,51.0,37.0,1.0,190.0,1,0
1,1,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1100-1159,0.0,0.0,103.0,109.0,76.0,1.0,438.0,2,0
2,2,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,0800-0859,0.0,0.0,132.0,121.0,88.0,1.0,513.0,3,0
3,3,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1400-1459,0.0,0.0,118.0,110.0,80.0,1.0,576.0,3,0
4,4,2019,1,1,4,5,2019-01-04,OO,20304,OO,...,1000-1059,0.0,0.0,184.0,163.0,127.0,1.0,896.0,4,0

In [23]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [19]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,N945SW,...,1500-1559,0.0,0.0,70.0,51.0,37.0,1.0,190.0,1,0
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,1100-1159,0.0,0.0,103.0,109.0,76.0,1.0,438.0,2,0
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,0800-0859,0.0,0.0,132.0,121.0,88.0,1.0,513.0,3,0
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,N916SW,...,1400-1459,0.0,0.0,118.0,110.0,80.0,1.0,576.0,3,0
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,N107SY,...,1000-1059,0.0,0.0,184.0,163.0,127.0,1.0,896.0,4,0

In [20]:
df.to_csv("cleaned.csv")

In [28]:
df = pd.read_csv("cleaned.csv", sep=",")

In [27]:
df.reset_index(drop=True)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,DivAirportLandings
0,2019,1,1,4,5,2019-01-04,OO,20304,OO,N945SW,...,1500-1559,0.0,0.0,70.0,51.0,37.0,1.0,190.0,1,0
1,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,1100-1159,0.0,0.0,103.0,109.0,76.0,1.0,438.0,2,0
2,2019,1,1,4,5,2019-01-04,OO,20304,OO,N932SW,...,0800-0859,0.0,0.0,132.0,121.0,88.0,1.0,513.0,3,0
3,2019,1,1,4,5,2019-01-04,OO,20304,OO,N916SW,...,1400-1459,0.0,0.0,118.0,110.0,80.0,1.0,576.0,3,0
4,2019,1,1,4,5,2019-01-04,OO,20304,OO,N107SY,...,1000-1059,0.0,0.0,184.0,163.0,127.0,1.0,896.0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565958,2019,1,1,2,3,2019-01-02,HA,19690,HA,N483HA,...,1000-1059,0.0,0.0,35.0,36.0,21.0,1.0,102.0,1,0
565959,2019,1,1,2,3,2019-01-02,HA,19690,HA,N481HA,...,1400-1459,0.0,0.0,42.0,42.0,24.0,1.0,100.0,1,0
565960,2019,1,1,2,3,2019-01-02,HA,19690,HA,N481HA,...,1300-1359,0.0,0.0,46.0,50.0,22.0,1.0,100.0,1,0
565961,2019,1,1,6,7,2019-01-06,HA,19690,HA,N487HA,...,2000-2059,0.0,0.0,47.0,55.0,34.0,1.0,163.0,1,0
565962,2019,1,1,6,7,2019-01-06,HA,19690,HA,N487HA,...,1800-1859,0.0,0.0,47.0,46.0,30.0,1.0,163.0,1,0